.wrapper {
  background-color: #00000050;
  background-blend-mode: multiply;
  background-image: url('/img/bg-product.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  padding: 20px 0;
  height: 100vh;
}

.user-created {
  padding: 100px;
  // text-shadow: 2px 2px 4px rgba(179, 0, 255, 0.5);
  text-align: center;
  font-size: 24px;

  h1 {
    margin-bottom: 15px;
  }

  a {
    color: yellow;
    font-size: 28px;
    &:hover {
      text-decoration: none;
      text-shadow: 0 0 10px #f2ff00;
    }
  }
}

.wrap {
  max-width: 400px;
  margin: 0 auto;
  backdrop-filter: blur(25px);
  box-shadow: 0 0 25px #00b3ff, 0 0 10px #00b3ff;
  border-radius: 10px;
  margin-top: 80px;

  &:hover {
    box-shadow: 0 0 25px #00b3ff, 0 0 15px #00b3ff;
    backdrop-filter: blur(38px);
    outline: 3px solid #00b3ff;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 10px;
}