{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

{{!-- <div class="neon-container">
  <h1 class="neon-title">Видалення товару</h1>
  {{#with data}}
  <form method="POST" action="/product-delete">
    <label for="product-id">ID товару:</label>
    <input type="text" id="product-id" name="id" value="{{product.id}}" readonly><br><br>
    <p>Ви впевнені, що хочете видалити цей товар?</p>
    <button type="submit" class="neon-button neon-button-danger">Видалити</button>
    <a href="/product-list" class="neon-button">Повернутись до списку товарів</a>
  </form>
  {{/with}}
</div> --}}

<section class="product-delete">
  <div class="wrapper">
    <div class="container">
      <h1 class="product-delete__title">Delete the product</h1>
      <div class="wrap">
        <div class="product-delete__inner">
          {{#with data}}
          <form method="POST" action="/product-delete">
            <div class="delete-flex">

              <div class="label-flex">
                <div>
                  <label class="label-name" for="product-id">Name:</label>
                  <input type="text" id="product-id" name="name"
                    value="{{product.name}}"
                    readonly>
                </div>
                <div>
                  <label class="label-id" for="product-id">ID:</label>
                  <input type="text" id="product-id" name="id"
                    value="{{product.id}}"
                    readonly>
                </div>
              </div>

              <p class="delete-text">You are sure you want to delete the
                product?</p>
              <a class="delete-link" href="/product-list" class="neon-button">Return to the list of
                products</a>
              <button class="delete-btn" type="submit"
                class="neon-button neon-button-danger">Delete</button>
            </div>
          </form>
          {{/with}}
        </div>
      </div>
    </div>
  </div>
</section>

{{!
Цей код містить лише те, що буде виводитись в <body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}