{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
  <div class="wrapper">
    <div class="container">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide wrap">
            <a class="wrap-text" href="/user-create">USER-1</a>
          </div>
          <div class="swiper-slide wrap">
            <a class="wrap-text" href="/product-create">PRODUCT-1</a>
          </div>
          <div class="swiper-slide wrap">
            <a class="wrap-text" href="#">EMPTY</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{{!
Цей код містить лише те, що буде виводитись в <body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}