.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.wrapper {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #00000050;
  background-blend-mode: multiply;
  background-image: url('/img/bg-index.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  padding: 20px 0;
  height: 100vh;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px;
  font-family: 'Codystar', cursive;
}

.wrap {
  background-color: #00000090;
  background-blend-mode: multiply;
  backdrop-filter: blur(28px);
  box-shadow: 0 0 15px #00b3ff, 0 0 10px #00b3ff;
  border: 2px solid #00b3ff;
  transition: box-shadow 0.2s;
  transform: translateY(50%);


  &:hover {
  box-shadow: 0 0 25px #00b3ff, 0 0 13px #00b3ff, 0 0 10px #00b3ff;
  outline: 2px solid #00b3ff;

}
}

.wrap-text {
  // background-color: #0000006c;
  // background-blend-mode: multiply;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 15px #00b3ff, 0 0 10px #00b3ff;
  border: 2px solid #00b3ff;
  transition: box-shadow 0.2s;
  padding: 10px 16px;
  border-radius: 28px;


  &:hover {
  box-shadow: 0 0 25px #00b3ff, 0 0 13px #00b3ff, 0 0 10px #00b3ff;
  outline: 2px solid #00b3ff;
}
}

.swiper {
  width: 340px;
  height: 420px;
  transform: translateY(35%);
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;

  a {
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff;
    transition: scale 0.2s ease-in;
    text-align: center;

    &:hover {
      scale: 1.1;
    }
}
}

.swiper-slide:nth-child(1n) {
  background-color: rgba(105, 0, 157, 0.347);
  background-image: url('/img/card-bg-index.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

@media (max-width: 500px) {
  .swiper {
    width: 250px;
    height: 330px;
    transform: translateY(50%);
  }
}