@use '../../lib/service.scss' as s;

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px;
}

.wrap {
  max-width: 700px;
  margin: 0 auto;
  backdrop-filter: blur(28px);
  box-shadow: 0 0 25px #00b3ff, 0 0 10px #00b3ff;
  border-radius: 12px;

  &:hover {
    box-shadow: 0 0 25px #00b3ff, 0 0 15px #00b3ff;
    backdrop-filter: blur(38px);
    outline: 3px solid #00b3ff;
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding: s.space(4);
  padding-top: 28px;
  padding-bottom: 28px;
  gap: s.space(8);
  max-width: 500px;
  margin: 0 auto;

  &__title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: s.space(1);
    border-bottom: 1px solid s.color('light');
  }

  &__content {
    display: grid;
    gap: s.space(6);
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: s.space(2);
  }

  &__label {
    font-size: 14px;
  }

  &__input {
    border: 1px solid s.color('light');
    padding: s.space(2);
    transition: box-shadow 0.2s linear;
    &:focus {
      outline: 2px solid rgb(0, 234, 255);
      box-shadow: 0px 0px 15px rgb(0, 234, 255);
    }
    &:hover {
      box-shadow: 0px 0px 15px #33d3ff;
    }
  }

  &__button {
    border: 1px solid s.color('light');
    padding: 10px 130px;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    max-width: 300px;
    margin: 0 auto;
    color: #fff;
    &:hover {
      // background-color: rgb(0, 23, 53);
      background-color: rgba(0, 34, 46, 0.438);
      box-shadow: 0 0 25px #00b3ff, 0 0 10px #00b3ff;

      color: white;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: s.space(10);
}

.user-list {
  li {
    padding: 8px 0;
    // background-color: rgb(109, 255, 114);
  }

  a {
    background-color: rgb(255, 67, 67);
    padding: 3px 6px;
    text-decoration: none;
    color: #fff;
    border-radius: 12px;
    margin-left: 10px;
    transition: box-shadow 0.2s linear;
    &:hover {
      box-shadow: 0 0 20px #ff0000;
    }
  }

  mark {
    padding: 6px;
    border-radius: 5px;
  }
}


