.field {
   display: flex;
   flex-direction: column;
   gap: 4px;
   width: 100%;
}

.field__label {
   font-size: 16px;
   color: #a5d4ff;
}

.field__input {
   border: 1px solid #00b3ff;
   padding: 8px;
   border-radius: 8px;
}

.field-disabled {
   position: absolute;
   display: none;
}